body {
  background-color: rgb(17, 159, 225);
  color: white;
    font-family: Lato;
}

h1,
h2,
h3 {
  text-align: center;
}

h1,
h2 {
  color: black;
}

h1 {
  font-family: Berkshire Swash;
  font-size: 125px;
}

.gradient {
  background-image: linear-gradient(#86afd2,#00ffa6);
  background-size: 100%
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }
 

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .box-row {
  display: flex;
  justify-content: center;
}

.box {
  width: 100px;
  height: 100px;
  margin: 10px;
  color: white;
  background-color: rgb(0, 0, 0);
  text-align: center;
} */

.search {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  width: 200px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: gray;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* Jaimes work */
.circleImgs {
  display: flex;
  justify-content: center;
}

img {
  border-radius: 50%;
  padding: 20px;
}